{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
  {cowboy, "2.7.0"},
  {lager, "3.8.0"},
  {sync, "0.1.3"},
  {uuid, "1.7.5", {pkg, uuid_erl}},
  {jwt, {git, "https://github.com/artemeff/jwt.git", {tag, "0.1.9"}}},
  {jsx, "2.8.0"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [sync, dbservice, webservice]}
]}.

{plugins, [
  {rebar3_run, "0.2.0"}
]}.

{relx, [
  {release, {"zimad", "0.1.0"}, [
    sync,
    {mnesia, load},
    dbservice,
    webservice
  ]},
  {dev_mode, false},
  {include_erts, false},
  {extended_start_script, true},
  {sys_config, "config/sys.config"}
]}.