[
    {mnesia, [
        {dir, "db"}
    ]},
    {lager, [
        {colored, true},
        {handlers, [
            {lager_console_backend, [{level, debug}, {formatter, lager_default_formatter}, {formatter_config, [time," [",severity,"] ", module, ":", line, ": ", message, "\n"]}]}
        ]}
    ]}
].